<!--
    ioBroker.vis playground Widget-Set

    version: "0.0.1"

    Copyright 10.2015-2016 DeepCore System<devap@deepcore.eu>
-->
<!-- here you can include so many css as you want -->
<link rel="stylesheet" href="widgets/playground/css/style.css" />

<style>
    body,
    html {
        height: 100%;
        margin: 0;
        -webkit-font-smoothing: antialiased;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        font-size: 12pt;
    }

    .tabs input[type=radio] {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .tabs {
        /*width: 900px;*/
        float: none;
        list-style: none;
        position: relative;
        padding: 0;
        /*margin: 50px auto;*/
        /* top, ... */
    }

    .tabs li {
        float: left;
    }

    .tabs label {
        display: block;
        padding: 10px 20px;
        /*border-bottom: 2px solid orange;*/
        border-radius: 7px 7px 0 0;
        /* top left, top right, bottom right, bottom left */
        color: #08C;
        font-size: 18px;
        font-weight: normal;
        font-family: 'RobotoCondensed-Regular', sans-serif;
        background: rgba(90, 90, 90, 0.2);
        cursor: pointer;
        position: relative;
        /*top: 3px;*/
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
    }

    .tabs label:hover {
        background: rgba(90, 90, 90, 0.5);
        /*top: 3px;*/
    }

    [id^=tab]:checked+ label {
        background: #08C;
        color: white;
        /*top: 3px;*/
    }

    [id^=tab]:checked~ [id^=tab-content] {
        display: block;
    }

    .tab-content {
        z-index: 2;
        display: none;
        text-align: left;
        width: 100%;
        height: 680px;
        font-size: 20px;
        line-height: 140%;
        border-width: 2px;
        border-color: orange;
        border-top-style: solid;
        /*border-style: solid;*/
        border-radius: 0 0 7px 7px;
        padding-top: 10px;
        /*background: #08C;*/
        padding: 15px;
        color: white;
        position: absolute;
        /*top: 53px;*/
        left: 0;
        box-sizing: border-box;
        -webkit-animation-duration: 1.5s;
        -o-animation-duration: 1.5s;
        -moz-animation-duration: 1.5s;
        animation-duration: 1.5s;
    }
</style>

<script type="text/javascript">
    vis.binds.minitabs = {
        setup: function(view, wid, data) {
            var $wid = $('#' + wid);
            if (!$wid.length) {
                return setTimeout(function() {
                    vis.binds.minitabs.setup(view, wid, data);
                }, 100);
            }
            // wait till widget will be visible
            if (!$wid.is(':visible')) {
                return setTimeout(function() {
                    vis.binds.minitabs.setup(view, wid, data);
                }, 1000);
            }

            $wid.find('.tabs').remove();

            var i;
            var text = '<ul class="tabs">\n';

            for (var i = 1; i <= data.tabcount; i++) {
              text += '<li><input type="radio" name="tabs" id="tab' + i +'" '+ (i === 1 ? 'checked':'') + '><label for="tab' + i +'">' + data['tab_title_' + i] + '</label>\n';
              text += '<div id="tab-content' + i +'" class="tab-content animated fadeIn">\n';
              text += '<div data-vis-contains="' + data['tab_view_' + i] + '" class="vis-widget-body vis-view-container">\n</div></li>';
            }

            text += '</ul>'

            $wid.html(text);

            vis.updateContainers(view);
        }
    }
</script>

<script id="tplPlaygroundMiniTabs" type="text/ejs" class="vis-tpl" data-vis-prev='<div id="prev_tplPlaygroundMiniTabs" style="position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev " style="width: 280px; height: 159px;" > <div class="myset-class vis-widget-prev-body " style="padding:2px"> MiniTabs </div>'
    data-vis-attrs="tabcount[3]/number,1,8,1;tab_title_(1-tabcount);tab_view_(1-tabcount)/views" data-vis-set="playground" data-vis-type="container" data-vis-name="MiniTabs">

    <div class="vis-widget <%== this.data.attr('class') %>" style="top:0px; left: 0px; width: 900px; height: 600px;" id="<%= this.data.attr('wid') %>">
        <div class="vis-widget-body">
            <% vis.binds.minitabs.setup(this.view, this.data.attr('wid'), data) %>
        </div>
    </div>
</script>
